<?xml version="1.0"?>
<model>
  <name>speed_limit_30_model</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>ADAS Project</name>
    <email>none@example.com</email>
  </author>
  <description>Texture based 30 km/h speed limit traffic sign model.</description>
</model>
